%h1 Create a new resource

= form_tag('/data/resources', method: :post) do # engine controller route not loaded in view tests
  %p
    =label_tag('Context')
    =select_tag('context', options_for_select(@contexts))
  %table
    %tr
      %th predicate
      %th object
    %tr
      %td= select_tag('predicate[]', options_for_select(@predicates))
      %td= text_field_tag('object[]')
    %tr
      %td= select_tag('predicate[]', options_for_select(@predicates))
      %td= text_field_tag('object[]')
    %tr
      %td= select_tag('predicate[]', options_for_select(@predicates))
      %td= text_field_tag('object[]')
    %tr
      %td= select_tag('predicate[]', options_for_select(@predicates))
      %td= text_field_tag('object[]')
    %tr
      %td= select_tag('predicate[]', options_for_select(@predicates))
      %td= text_field_tag('object[]')
    %tr
      %td= select_tag('predicate[]', options_for_select(@predicates))
      %td= text_field_tag('object[]')

  %p= submit_tag('Submit')
