%p
  = link_to 'ontologies', '/ontologies'
  = link_to 'resources', '/data/resources'
  = link_to 'contexts', '/data/contexts'
  = link_to 'new resource', '/data/resources/new'
  = link_to 'new context', '/data/contexts/new'
