%h1 Create a new context

= form_tag('/data/contexts', method: :post) do # engine controller route not loaded in view tests
  %table
    %tr
      %th Predicate
      %th Object
    - @predicates.each do |predicate|
      %tr
        %td= label_tag("#{predicate[:label]} (#{predicate[:predicate]})")
        %td= text_field_tag('object[]')
        %td= text_field_tag('predicate[]', predicate[:predicate], hidden: true)

  %p= submit_tag('Submit')
