%h1 Create a new context

= form_tag('/data/contexts', method: :post) do # engine controller route not loaded in view tests
  %table
    %tr
      %th predicate
      %th object
    %tr
      %td= select_tag('predicate[]', options_for_select(@predicates))
      %td= text_field_tag('object[]')
    %tr
      %td= select_tag('predicate[]', options_for_select(@predicates))
      %td= text_field_tag('object[]')

  %p= submit_tag('Submit')
